:root {
  --bg-lighter: #8CA2CF;
  --bg-darker: #010102;
}

html {
  font-size: 14px;
  height: 100%;
  background-color: var(--bg-lighter);
  background-image: linear-gradient (var(--bg-lighter), var(--bg-darker));
  background: var(--bg-lighter);
  background: linear-gradient(var(--bg-lighter), var(--bg-darker));
  background-attachment: fixed;

}

body {
  margin: 0;
  color: white;
}

.app {
  font-family: Arial, Helvetica, sans-serif;

}

.header {
  height: 4em;
  background-color: #303644;
  padding: 0 10%;
  display: flex;
  align-items: center;
  position: sticky;
}

.header-icon {
  font-size: 1.6em;
  margin: 0 .5em 0em 0;
}

.header h1 {
  margin: 0;
  width: 80vw;
  font-weight: 600;
}

.header h4 {
  margin-left: 1em;
  font-weight: normal;
}

.main {
  margin: 2rem auto;
  max-width: 80vw;
}

.calgrid {
  display: grid;
  grid-template-columns: 12.5em 12.5em 12.5em 12.5em 12.5em 12.5em 12.5em;
  grid-template-rows: 2em 12.5em 12.5em 12.5em 12.5m 12.5em;
  grid-row-gap: 1.4rem;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.month {
  margin: 1rem 0;
  color: white;

}

.weekday {
  color: #0D0F13;
  padding: 0;
  margin: 0;
}

.day-box {
  width: auto;
  height: 10rem;
  margin: 0;
  padding: .3rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgba(255,255,255, 0.4);
  color: white;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, .3);
  cursor: pointer;
  overflow-y: scroll;
}

.day-number {
  margin: 0;
}

.event-month-view {
  margin: .3em 0;
  font-weight: normal;
  font-size: .9em;
  list-style: none;
  padding: 0;

}

.single-event {
  margin: .1em 0;
  padding: .1em .1em ;
  border-radius: .2em;
  transition: background-color 0.3s ease;
  cursor: default;
}

.single-event:hover {
  background-color: #21252F;
}

.event-icons {
  float: right;
  font-size: .8em;
  visibility: hidden;
  transition: visibilty 0.3s ease;
}

.event-icons .icon {
  margin: 0;
  padding: .3em;
  cursor: pointer;
  border-radius: 5px;
  width: 1.2em;
  height: 1.2em;
  display: inline-block;
}

.event-icons .icon:hover {
  /* margin: 0 .2em; */
  cursor: pointer;
  background-color: grey;

}

.single-event:hover svg {
  visibility: visible;
}


.submission-form {
  color: var(--bg-darker);
  background-color: rgba(255, 255, 255, .9);
  height: 200px;
  width: 320px;
  position: absolute;
  top: 30%;
  left: 30%;
  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, .3);
  padding: 10px;
  border-radius: 5px;
}

.description-input {
  width: 310px;
  font-size: 1.1em;
  display: block;
}

.time-input {
  /* display: block; */
  font-size: 1.1em;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 320px;
}

.time-field {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0 .1em;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 320px;
  margin: auto;
}

.buttons button, .buttons input[type=submit] {
  width: 8em;
  height: 30px;
  margin-top: 10px;
  font-size: 1.1em;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: var(--bg-lighter);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}



